.App {
  /*
  text-align: center;
  */
  background-color: #DDD;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.grid {
  display: -webkit-flex;
  display: flex;
 -webkit-flex-flow: row wrap;
 flex-flow: row wrap;
 /* tweak the where items line up on the row */
 /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
 -webkit-align-content: flex-end;
 align-content: flex-end;
 width: 256px;
 height: 256px;
}

.cell {
  width: 14px;
  height: 14px;
  border: 1px solid grey;
  cursor: crosshair;
}

.result {
  width: 256 px;
  height: 256px;
}
.result-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 256px;
  height: 25px;
}
.result-label {
  width: 25px;
  height: 25px;
}
.result-value {
  position: relative;
}
.result-percentage {
  max-width: 256px;
  height: 20px;
  background-color: #61DDFF;
  position: absolute;
}
