.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 10px;
}

.buttons{
  display: flex;
  align-items: center;
   justify-content: center;
 }

.canvas {
  width: 276px;
  height: 276px;
  margin: 10px;
}

.grid {
  display: -webkit-flex;
  display: flex;
 -webkit-flex-flow: row wrap;
 flex-flow: row wrap;
 -webkit-align-content: flex-end;
 align-content: flex-end;
 width: 256px;
 height: 256px;
 margin: 10px;
}

.cell {
  width: 14px;
  height: 14px;
  border: 1px solid grey;
  cursor: crosshair;
}

.result {
  width: 256px;
  height: 256px;
  margin: 10px;

}
.result-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 256px;
  height: 25px;
}
.result-label {
  width: 25px;
  height: 25px;
}
.result-value {
  position: relative;
}
.result-percentage {
  max-width: 256px;
  height: 20px;
  background-color: #61DDFF;
  position: absolute;
}
